.page-container {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
  padding-left: 280px;
  display: inline-flex !important;
}

@media only screen and (max-width : 992px) {
  .page-container {
    padding-left: 0;
    display: flex !important;
  }
}

#navbar {
  width: 100%;
  background-color: #333; /* Dark background for contrast */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-menu {
  display: flex;
  gap: 15px; /* Spacing between links */
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navigation Links */
.nav-menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Link Hover Effect */
.nav-menu a:hover {
  background-color: #26a69a; /* Highlight color */
  transform: scale(1.05); /* Slightly enlarge */
}

/* Active Link Styling */
.nav-menu a.active {
  background-color: #00796b; /* Darker highlight for active link */
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-by-side >* {
  margin: 0 5px;
}

.bold {
  font-weight: bold;
}

.margin-sm {
  margin: 5px;
}

.margin {
  margin: 20px;
}

.button-sm {
  padding: 0 10px !important;
}

.pad-sides-sm {
  padding: 0 8px !important;
}

#github-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}

input[type="file"]::-webkit-file-upload-button {
    background: #26a69a;
    border: 1px solid gray;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
}
/* Responsive Design */
@media only screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    padding: 20px 0;
  }

  .nav-menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-menu a {
    margin: 5px 0;
  }
}